<h2> Log In </h2>
<% if flash[:notice] %>
    <div class="notice" style="color:red;"><%= flash[:notice]%></div><br>
<% end %>
<%= form_tag({controller: 'sessions', action: 'create', method: 'post'}) do %>
	<label>Username: </label>
	<%= text_field_tag 'user[name]'%><br>
	<label>Password: </label>
	<%= text_field_tag 'user[password]'%><br><br>
	<%= submit_tag 'Log In' %>
<% end %><br>
<%= link_to "Log In with Facebook", 'auth/facebook' %><br>
<%= link_to "Are you a new user? Sign up here", '/signup' %>
