<h1> Welcome to Trail Tracker </h1>
Add how to use, recent hikes, and public images here

<%= link_to "Go to Trails Index", trails_path %><br>
<%= link_to "Add New Trail", new_trail_path %><br>
<%= link_to "Edit This Trail", edit_trail_path(@trail) %><br>
<%= link_to "View All of My Hikes", hikes_path %><br>
<%= link_to "Record New Hike", new_hike_path %><br>
