<h2> Profile Page </h2>
Username: <%= current_user.name %><br>
Email: <%= current_user.email %><br><br>

<%= link_to "Add Image", [:new, @imageable, :image], class:"btn btn-success btn-lg btn-block" %>
<%= link_to "Return to Trails Index", trails_path, class:"btn btn-success btn-lg btn-block" %>
<%= link_to "Add New Trail", new_trail_path, class:"btn btn-success btn-lg btn-block" %>
<%= link_to "View All of My Hikes", hikes_path, class:"btn btn-success btn-lg btn-block" %>
<%= link_to "Record New Hike", new_hike_path, class:"btn btn-success btn-lg btn-block" %>
