<h2><%= current_user.name %> - Profile Page </h2>
Email: <%= current_user.email %><br><br>

<%= link_to "Add Image", [:new, @imageable, :image] %><br>
<%= link_to "Return to Trails Index", trails_path %><br>
<%= link_to "Add New Trail", new_trail_path %><br>
<%= link_to "View All of My Hikes", hikes_path %><br>
<%= link_to "Record New Hike", new_hike_path, class:"btn btn-success btn-lg btn-block" %><br>
