<h3> Sign Up </h3>
<%= form_tag sign_up_path %>
<label>Username: </label>
<%= text_field_tag 'user[name]'%><br>
<label>Email Address: </label>
<%= text_field_tag 'user[email]'%><br>
<label>Password: </label>
<%= text_field_tag 'user[password]'%><br>
<label>Password Confirmation: </label>
<%= text_field_tag 'user[password_confirmation]'%><br><br>
<%= submit_tag 'Save' %>
