<% if @images.nil? %>
	<p> No Images to Display </p>
<% else %>
	<% @images.each do |image| %>
		<div class="col-md-4">
			 <div class="card mb-4 text-white bg-dark border-0">
					<img class="card-img-top" src="<%= image.url %>" alt="Card image cap">
					<div class="card-body">
						 <h5 class="card-title">	<%= image.date %></h5>
						 <p class="card-text">
							 <%= image.trail_name %><br>
							<%= image.username %><br>
							<%= image.description %><br>
							<br></p>
						 <a href="" class="btn btn-outline-light btn-sm">Image Show Page</a>
					</div>
				</div>
		</div>
	<% end %>
<% end %>
