<% if @images.nil? %>
	<p> No Images to Display </p>
<% else %>
	<% @images.each do |image| %>
		<hr class="mt-2 mb-2">
	  <div class="row text-center text-lg-left">
	    <div class="col-lg-3 col-md-4 col-6">
	      <div class="d-block mb-4 h-100">
	            <img class="img-fluid img-thumbnail" src="<%= image.url %>" alt="">
				</div>
			</div>
				<%= image.date %><br>
				<%= image.trail_name %><br>
				<%= image.username %><br>
				<%= image.description %><br>
				<br><br>
		</div>
	<% end %>
<% end %>
