<% if @images.nil? %>
	<p> No Images to Display </p>
<% else %>
	<% counter = 1 %>
	<% @images.each do |image| %>
		<% if counter == 1 %>
			<div class="row">
		<% end %>
		<div class="col-md-4">
			 <div class="card mb-4 text-white bg-dark border-0">
					<img class="card-img-top" src="<%= image.url %>" alt="Card image cap">
					<div class="card-body">
						 <h5 class="card-title">	<%= image.date %></h5>
						 <p class="card-text">
							 <%= image.trail_name %><br>
							<%= image.username %><br>
						</p>
						<% @image = image %>
						<a href="<%= show_image_path %>" class="btn btn-outline-light btn-sm"> Image Details </a><br>
					</div>
				</div>
		</div>
		<% if counter == 3 %>
			<% counter = 0 %>
			</div>
		<% end %>
		<% counter += 1 %>
	<% end %>
<% end %>
