<%= form_for @hike do |f| %>
	<% if @hike.errors.any? %>
	<div id="error_explanation">
		<ul>
			<% @hike.errors.full_messages.each do |message| %>
			<li><%= message %></li>
			<% end %>
		</ul>
	</div>
	<% end %>
	<div class="field_with_errors">
		Date (format: mm/dd/yy) <%= f.text_field :date_of_hike %><br>
	</div>
	Select Trail <select name="hike[trail_id]">
    <% Trail.all.each do |trail| %>
        <option value="<%= trail.id %>"><%= trail.name %></option>
    <% end %>
	</select><br>
	Comments <%= f.text_area :comments %><br>
	Public? (Allow other users to see this hike) <%= f.check_box :is_public %><br><br>
	<%= f.submit "Save Hike" %>
<% end %>
