<div class="container">
	<h1 class="font-weight-light text-center text-lg-left mt-4 mb-0"> Completed Hikes for <%= current_user.name %></h1>
	<ol>
		<% Hike.all.each do |hike| %>
			<% if hike.user_id == current_user.id %>
				<li><%= link_to(hike) do %>
					<%= hike.date_of_hike %>  -  <%= hike.trail.name%></li>
				<% end %>
			<% end %>
		<% end %>
	</ol>

	<%= link_to "Record New Hike", new_hike_path %><br>
	<%= link_to "Return to Trails Index", trails_path %><br>
	<%= link_to "Add New Trail", new_trail_path %>
	<br><br>
</div>
