<div class="container-info">
	<div class="row">
		<div class="col-sm-8">
			<h3 class="font-weight-light text-center text-lg-left mt-4 mb-0"> Completed Hikes for </h3>
			<% if flash[:notice] %>
					<h4>
						<div class="notice" style="color:red;"><%= flash.now[:notice]%></div>
					</h4>
			<% end %>
			<h2>
				<%= current_user.name %>
			</h2>
				<br>
				<ol>
					<% @hikes.each do |hike| %>
							<li><%= link_to(hike) do %>
								<%= hike.date_of_hike %>  -  <%= hike.trail.name %></li>
							<% end %>
						<% end %>
				</ol>
			</div>
			<div class="col-sm-4"><br><br><br>
				<%= link_to "Record New Hike", new_hike_path, class:"btn btn-success btn-lg btn-block" %>
				<%= link_to "Return to Trails Index", trails_path, class:"btn btn-success btn-lg btn-block" %>
				<%= link_to "Add New Trail", new_trail_path, class:"btn btn-success btn-lg btn-block" %>
			</div>
	</div>
</div>
<%= render "public_index" %><br>
<%= render 'shared/all_images' %>
