<h2 class="font-weight-light text-center text-lg-left mt-4 mb-0"> Edit Trail </h2>
<%= render @trail %>

<%= link_to "Return to Trails Index", trails_path, class:"btn btn-success btn-lg btn-block" %><br>
<%= link_to "Add New Trail", new_trail_path, class:"btn btn-success btn-lg btn-block" %><br>
<%= link_to "View All of My Hikes", hikes_path, class:"btn btn-success btn-lg btn-block" %><br>
<%= link_to "Record New Hike", new_hike_path, class:"btn btn-success btn-lg btn-block" %><br>
