<div class="container">
	<h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Trails Index Page </h1>
	<br>
	<ul>
		<% @trails.each do |trail| %>
			<li><%= link_to trail.name, trail_path(trail) %></li>
		<% end %><br>
	</ul>
	<%= link_to "Create New Trail", new_trail_path %><br>
	<%= link_to "View All of My Hikes", hikes_path %><br>
	<%= link_to "Record New Hike", new_hike_path %><br>
	<%= render 'shared/all_images' %>
</div>
