<h1><%= @trail.name%></h1>
Start Point: <%= @trail.start_point %><br>
End Point: <%= @trail.end_point %><br>
Difficulty Rating: <%= @trail.difficulty_rating %><br>
Length of Hike: <%= @trail.length_of_hike %><br>
Terrain: <%= @trail.terrain %><br>
Description:  <%= @trail.description %><br>
Notes: <%= @trail.notes %><br>
<br><br>
<%= link_to "Return to Trails Index", trails_path %>
