<%= form_for [@imageable, @image] do |f| %>
	<% if @image.errors.any? %>
		<div class="error_messages">
			<h2>Please correct the following errors:</h2>
			<ul>
				<% @image.errors.full_messages.each.do | msg | %>
					<li> <%= msg %> </li>
				<% end %>
			</ul>
		</div>
		<div class="field_with_errors">
			<%= f.label :url, "Enter image URL" %>
			<%= f.text_field :url %>

		</div>
		<div class="field_with_errors">
			<%= f.label :date, "Date taken" %>
			<%= f.text_field :date %>
		</div>
		<div class="field_with_errors">
			<%= f.label :trail_id, "Description" %>
			<%= f.text_field :description %>
		</div>
		<div class="field_with_errors">
			<%= f.label :is_public, "Allow this hike to be visible to other users? ", id:"checkbox_align" %>
			<%= f.check_box :is_public, class:"form-checkbox" %>
		</div>
		<%= f.submit "Save Image" %>
	<% end %>
