<%= form_for [@imageable, @image] do |f| %>
	<% if @image.errors.any? %>
		<div class="error_messages">
			<h2>Please correct the following errors:</h2>
			<ul>
				<% @image.errors.full_messages.each.do | msg | %>
					<li> <%= msg %> </li>
				<% end %>
			</ul>
		</div>
		<div class="field_with_errors">
			<div class="form-group row">
				<%= f.label :url, "Enter image URL", class:"col-sm-8 col-form-label" %>
				<div class="col-sm-10">
					<%= f.text_field :url, class:"form-control" %>
				</div>
			</div>
		</div>

		<div class="field_with_errors">
			<div class="form-group row">
				<%= f.label :date, "Date (format: mm/dd/yy)", class:"col-sm-8 col-form-label" %>
				<div class="col-sm-10">
					<%= f.text_field :date, class:"form-control" %>
				</div>
			</div>
		</div>
		<div class="field_with_errors">
			<div class="form-group row">
				<%= f.label :trail_id, "Description", class:"col-sm-8 col-form-label" %>
				<div class="col-sm-10">
					<%= f.text_field :description, class:"form-control" %>
				</div>
			</div>
		</div>

		<div class="field_with_errors">
			<div class="form-group row">
			<%= f.label :is_public, "Allow this hike to be visible to other users? ", id:"checkbox_align" %>
			<%= f.check_box :is_public, class:"form-checkbox" %>
		</div>
	</div>
		<%= f.submit "Save Image", class:"btn btn-primary" %>
	<% end %>
