<h1>Gallery</h1>
<div id="images">
	<%= @images.each do |image| %>
	<div class="image">
		<%= image.url %><br>
		<%= image.date %><br>
		<%= image.trail_name %><br>
		<%= image.username %><br>
		<%= link_to "More...", image_path(image) %><br>
	</div>
	<% end %>
</div>			
