<!DOCTYPE html>
<html>
  <head>
    <title>RailsTrailTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
		<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top mb-5 shadow">
	  <div class="container">
	    <a class="navbar-brand" href="/welcome">Katie's Kootenay Trail Tracker</a>
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
	          <span class="navbar-toggler-icon"></span>
	        </button>
	    <div class="collapse navbar-collapse" id="navbarResponsive">
	      <ul class="navbar-nav ml-auto">
	        <li class="nav-item active">
	          <a class="nav-link" href="/welcome">Home
	                <span class="sr-only">(current)</span>
	              </a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="/trails">Trails</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="/hikes">My Hikes</a>
	        </li>
					<li class="nav-item">
					 <a class="nav-link" href="/images/index">My Gallery</a>
				 </li>
	        <li class="nav-item">
	          <a class="nav-link" href='/users/:id'>My Profile</a>
	        </li>
					<li class="nav-item">
	          <a class="nav-link" href="/logout">Log Out</a>
	        </li>
	      </ul>
	    </div>
	  </div>
	</nav>

	<!-- Page Content -->
	<div class="container" >
	  <div class="card border-0 shadow my-5 "style="background-color: rgba(245, 245, 245, 0.4)" >
	    <div class="card-body p-5">
				<div style="height: auto;"></div>
	          <%= yield %>
	    </div>
	  </div>
	</div>

  </body>
</html>
